

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */


.hover-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

main section{
    margin: 20px 100px;
}

.bg-color{
    background-color: #F1F1F3;
}


.btn-primary{
    background-color: #006A50;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
    
}

nav h3{
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bold;
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
}

nav button{
    font-size: 18px;
    font-weight: 600;
    padding:10px 20px;
    border-radius: 5px;
    color: #006A50;
    border-color: #006A50;
    
}

/* banner style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 30px 50px;
    border-radius: 20px;
}

.banner-section{
    margin: 20px 100px;
}

.banner-content h4{
    font-size: 24px;
    font-weight: 600;
    color: #0E0E0E;
}
.banner-content h2{
    font-size: 41px;
    color: #0E0E0E;
    font: bold;
}

/* card styles */

.card-container{
    margin-bottom: 80px;
}

.card-container h1{
    font: bold;
    font-size: 40px;
}

.card-container p{
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.card-items{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.card-1{
    background-color: #81B4FC;
    padding: 30px;
    border-radius: 16px;

}

.card-2{
    background-color: #C6E4D6;
    padding: 30px;
    border-radius: 16px;
}
.card-3{
    background-color: #F7EBCF;
    padding: 30px;
    border-radius: 16px;
}

.card-title{
    font: bold;
    font-size: 20px;
    color: #0E0E0E;
}

.card-description{
    font-size: 16px;
    color: #0E0E0E;
}

.card-items button{
    font: 600;
    font-size: 16px;
    color: #ffffff;
    border-radius: 8px;
    padding: 11px 14px
}

.card-1 button{
    background-color: #5490F5;
    border: none;
}

.card-2 button{
    background-color: #09A15C;
    border: none;
}

.card-3 button{
    background-color: #FFC239;
    border: none;
}

/* card-sub-title style */

.card-sub-title .title-description{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.card-sub-title{
    margin-top: 32px;
    
}

.title-box{
    background-color: #ffffff;
    padding: 30px 24px;
    border-radius: 16px;

    
}

.title-box .title-description{
    font-size: 16px;
    color: #0E0E0E

    
    
}

.title-box .title-name{
    font: 600;
    font-size: 20px;
    color: #0E0E0E;
}

.title-box .title-sub-description{
    font-size: 16px;
    color: #0E0E0E;
}

/* news section style */

.news-content{
    display: flex;
    gap: 32px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
}

.news-container h1{
    font: 800;
    font-size: 40px;
    color: #0E0E0E;
}

.news-container p{
    font-size: 16px;
    color: #0E0E0E;
}

.news-image img{
    border-radius: 24px;
}

.news-card-1{
    margin-bottom: 24px;
}

.news-text .date-time span{
    margin-left: 12px;
}

.news-text .date-time{
    color: #0E0E0E;
    font-size: 16px;
}

.news-text .card-title{
    font: 800;
    font-size: 32px;
    color: #0E0E0E;
}

.news-text img{
    width: 130px;
    height: 40px;
}

.news-text .title-description{
    font-size: 16px;
    color: #0E0E0E;
}

/* donate section styles */

.donate-section{
    margin: 50 140px;
    margin-top: 80px;
}

.donate-section h1{
    font-size: 40px;
    font: 800;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 24px;
}

.donate-section p{
    font-size: 16px;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 32px;
}

.donate-card{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
}

.donate-card .card{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 40px;
    font: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 32px;
    
}

.donate-section input{
 width: 90%;
 margin-left: 30px;
 text-align: center;
 align-items: center;
 padding: 20px 20px;
 font-size: 20px;
 
}

.donate-section button{
margin-left: 43%;
margin-top: 32px;
    
}

/* footer section styles */
footer{
    margin: 20px 100px;
}


.footer-section{
    margin-top: 80px;
     background-color: #C6E4D6;
     padding: 100px 80px;
     border-radius: 26px;
}

.footer-section h1{
    font: bold;
    font-size: 40px;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 16px;
}

.footer-section p{
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 24px;
    text-align: center;
}

.footer-section input{
    width: 50%;
    padding: 20px 20px;
    margin-left: 80px;
    font-size: 16px;
}

.footer-section button{
    width: 10%;
    padding: 20px 35px;
}



